@import '~bulma';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid'; // fas prefix
@import '~@fortawesome/fontawesome-free/scss/brands'; // fab prefix

html {
  height: 100%;
}

body {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 5rem;
    background-color: #3B82F6;

    a {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      width: 5rem;
      height: 5rem;

      &:hover {
        background-color: #1E40AF;
      }

      .section-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: #1E40AF;
      }

      .section-name {
        display: inline-block;
      }
    }

  }

  .inline-form {
    @apply flex flex-row flex-nowrap justify-between items-center;

    .field {
      @apply flex flex-row flex-nowrap items-baseline justify-between h-full;
    }
  }

  .content {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    background-color: #DBEAFE;
  }

  turbo-frame {
    display: block;
  }
}