@import '~bulma';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid'; // fas prefix
@import '~@fortawesome/fontawesome-free/scss/brands'; // fab prefix

html {
  width: 100%;
  height: 100%;
  display: table;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: table-cell;

  .applet {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: $primary-dark;

      @include until($widescreen) {
        flex-flow: column-reverse nowrap;
      }

      @include from($widescreen) {
        flex-flow: column nowrap;
      }

      &.in-root {
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-flow: column nowrap;

        .nav-link {
          margin: 0.5rem !important;
          padding: 1rem !important;
          height: 10rem !important;
          width: 10rem !important;

          .section-icon {
            width: 5rem !important;
            height: 5rem !important;
          }
        }
      }

      .nav-link {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        border-radius: $radius-large;
        color: $primary;

        @include until($widescreen) {
          margin: 0 0.25rem 0.25rem;
        }

        @include from($widescreen) {
          margin: 0.25rem 0.25rem 0;
        }

        padding: 0.5rem;
        height: 6rem;
        width: 6rem;

        &:hover, &.is-active {
          background-color: $primary;
          color: $primary-dark;
        }

        &.is-active {
          color: $primary-light;
        }

        .section-icon {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
        }
      }

    }

    .content {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;

      .recipes-panel {
        display: flex;
        flex-flow: column nowrap;
        width: 30rem;
        height: 100%;
        background-color: $primary;

        .recipe-collection {
          height: 100%;
          overflow-y: scroll !important;
        }
      }

      .cookbook-page {
        width: 100%;
        height: 100%;
        padding: 1rem;

        .main-display {
          overflow-y: scroll !important;
          width: 100%;
          height: 100%;
          padding: 0 0.5rem;
        }
      }
    }

    turbo-frame {
      display: block;
    }
  }
}